* {
  box-sizing: border-box;
  margin: 0;
}

html {
  touch-action: manipulation;
}

input {
  max-width: 100%;
}

button {
  font-family: inherit;
  cursor: pointer;
}

#github {
  font-family: Helvetica, "Open Sans", Arial, sans-serif;
  font-weight: 600;
  position: fixed;
  left: -50px;
  top: 40px;
  padding: 10px 40px;
  transform: rotate(-45deg);
  background: rgba(15, 56, 15, .3333);
  box-shadow: 0 0 2px currentColor;
  color: rgb(15, 56, 15);
  text-decoration: none;
  transition: 200ms ease box-shadow;
}

#github:hover {
  box-shadow: 0 0 5px 1px currentColor;
}
